@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

button {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}
  
.popup {
	position: fixed;
	bottom: -100%;
	left: 0;
	width: 100%;
	height: 300px;
	background-color: white;
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
	transition: bottom 0.5s ease-in-out;
	z-index: 1000;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}
  
  .popup-content {
	padding: 20px;
	text-align: center;
  }
  
  .close-btn {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 24px;
	cursor: pointer;
  }
  
  .popup.show {
	bottom: 0;
  }

  

.MyWayBoton {
	font-style: normal;
	text-decoration: none;
	padding-left: 7vw;
	font-size: x-large;
	font-weight: 600;
	color: white;
}

.titulo {
	color: white;
	height: 5vh;
	padding-left: 5vw;
	padding-top: 5vh;
}

.hstack {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: stretch;
  }
  
.vstack {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	align-self: stretch;
}

  .button {
	font-size: x-large;
	position: relative;
	border-radius: 15px;
	border: none;
	color: #fff;
	cursor: pointer;
	background-color: #28257d;
	transition: all 0.2s ease;
  }
  
  .button:active {
	transform: scale(0.96);
  }
  
  .button:before,
  .button:after {
	position: absolute;
	content: "";
	width: 150%;
	left: 50%;
	height: 100%;
	transform: translateX(-50%);
	z-index: -1000;
	background-repeat: no-repeat;
  }
  
  .button:hover:before {
	top: -70%;
	background-image: radial-gradient(circle, #24226c 20%, transparent 20%),
	  radial-gradient(circle, transparent 20%, #24226c 20%, transparent 30%),
	  radial-gradient(circle, #24226c 20%, transparent 20%),
	  radial-gradient(circle, #24226c 20%, transparent 20%),
	  radial-gradient(circle, transparent 10%, #24226c 15%, transparent 20%),
	  radial-gradient(circle, #24226c 20%, transparent 20%),
	  radial-gradient(circle, #24226c 20%, transparent 20%),
	  radial-gradient(circle, #24226c 20%, transparent 20%),
	  radial-gradient(circle, #24226c 20%, transparent 20%);
	background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
	  10% 10%, 18% 18%;
	background-position: 50% 120%;
	animation: greentopBubbles 2s ease;
  }
  
  @keyframes greentopBubbles {
	0% {
	  background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
		40% 90%, 55% 90%, 70% 90%;
	}
  
	50% {
	  background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
		50% 50%, 65% 20%, 90% 30%;
	}
  
	100% {
	  background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
		50% 40%, 65% 10%, 90% 20%;
	  background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
  }
  
  .button:hover::after {
	bottom: -70%;
	background-image: radial-gradient(circle, #24226c 20%, transparent 20%),
	  radial-gradient(circle, #24226c 20%, transparent 20%),
	  radial-gradient(circle, transparent 10%, #24226c 15%, transparent 20%),
	  radial-gradient(circle, #24226c 20%, transparent 20%),
	  radial-gradient(circle, #24226c 20%, transparent 20%),
	  radial-gradient(circle, #24226c 20%, transparent 20%),
	  radial-gradient(circle, #24226c 20%, transparent 20%);
	background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
	background-position: 50% 0%;
	animation: greenbottomBubbles 0.6s ease;
  }
  
  @keyframes greenbottomBubbles {
	0% {
	  background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
		70% -10%, 70% 0%;
	}
  
	50% {
	  background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
		105% 0%;
	}
  
	100% {
	  background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
		110% 10%;
	  background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
}

#map {
}